google-ai-generativelanguage
langchain
langchain-google-genai
python-dotenv
requests
langgraph
psycopg
psycopg-binary
langgraph-checkpoint-postgres
langgraph-checkpoint-sqlite
langchain-ollama
flask
pydantic
google-api-python-client
sounddevice
soundfile
openai
pypdf